/* Reset and global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, #d2b48c, #deb887, #c19a6b); /* light brown gradient */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
